.wrapper {
  background: #2C3643;
  max-width: 74rem;
  padding-right: 1rem;
  overflow-y: auto;
  height: 100%;
  width: 100%;

  ul {
    margin: 0;
    padding: 2rem 0;
  }
  li {
    list-style: none;
  }

}

.native {
  .wrapper {
    &-list {
      width: 100%;

      column-rule: 1px solid #696969;
      column-count: 1;
      column-fill: auto;
      column-gap: 0;
      word-break: keep-all;
      overflow-wrap: normal;

      @media(min-width: 760px) {
        column-count: 2;
      }
    }
    &-item {
      width: 100%;

      @media(min-width: 760px) {
        width: 37rem;
      }

      -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+ */
    }
  }
}

.flex {
  .wrapper {

    &-list {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }

    &-item {
      flex: 0 0 100%;

      @media(min-width: 760px) {
        flex: 0 0 37rem;
        &:nth-child(odd) {
          margin-right: -1px;
          border-right: solid 1px #696969;
        }
      }

      &--spacer {
        min-height: 1px;
      }
    }

  }
}

.alt {
  .wrapper {
    &-list {
      width: 100%;
    }
    &-item {
      width: 100%;

      @media(min-width: 760px) {
        width: 37rem;
      }

      @media(min-width: 760px) {
        float: left;
        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(odd) {
          margin-right: -1px;
          border-right: solid 1px #696969;
        }
      }
    }
  }
}