<div class="app">
  <div class="header">
    <h1>Responsive Column Lists!</h1>
    <p>Update the <strong>Items Input</strong> below to change the number of items.</p>
    <p>Select <strong>Column Styles</strong> below to swap between different implementations of columns. </p>
    <p>Click on <strong>Home</strong> or the menu items to navigate to different <strong>routes</strong>.</p>
    <p>Resize the screen to test responsive views.</p>
    <hr/>
    <div *ngIf="listForm">
      <form class="form" [formGroup]="listForm">
          <div class="form-group">
            <span class="form-text">
              Display
            </span>
            <input 
              class="form-input"
              type="number" 
              min="0"
              placeholder="Select a list length"
              formControlName="length"
            />
            <span class="form-text">
              Item{{ (list$ | async)?.length !== 1 ? 's' : '' }}
            </span>
            <span class="form-spacer"></span>
            <a class="form-link" 
              routerLinkActive="form-link--active"
              routerLink="/"
              [routerLinkActiveOptions]="{ exact: true }"
              >
              Home
            </a>
          </div>
      </form>
    </div>
    <hr/>
  </div>
  <div class="body">
    <h2 class="body-title">List</h2>
    <div class="body-controls">
      <h3 class="body-static">Column Style</h3>
      <div class="body__btn-group" *ngIf="columnType$ | async as columnType">
        <button
          class="body-btn"
          [class.body-btn--active]="columnType === 'native'"
          (click)="changeColumnType('native')"
          >
          native (default)
        </button>
        <button
          class="body-btn"
          [class.body-btn--active]="columnType === 'flex'"
          (click)="changeColumnType('flex')"
          >
          flex (best)
        </button>
        <button
          class="body-btn"
          [class.body-btn--active]="columnType === 'alt'"
          (click)="changeColumnType('alt')"
          >
          alt (jank)
        </button>
      </div>
      <hr/>
    </div>
    <div class="body-content">
      <div class="body-content-hidden">
        <ul class="body-content-hidden__list body-content-hidden__list--header">
          <li *ngFor="let item of blankItems$ | async" class="body-content-hidden__item">
            <span class="body-badge"></span>
          </li>
        </ul>
        <ul class="body-content-hidden__list">
          <li *ngFor="let item of blankItems$ | async" class="body-content-hidden__item">
            <span class="body-badge"></span>
          </li>
        </ul>
      </div>
      <div class="body-content-wrapper">
        <app-wrapper [list]="list$ | async" [columnType]="columnType$ | async"></app-wrapper>
      </div>
    </div>
  </div>
  <div class="footer">
    <hr/>
    <router-outlet></router-outlet>
    <hr/>
  </div>
</div>