html {
  background: #2C3643;
  color: #FFFFFF;
  font-size: 10px;
  * {
    font-family: 'Open Sans', 'Salesforce Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 1.4rem;
}
